<h1>Study Groups</h1>

<%= link_to "See all study groups", study_groups_path %>

<% @filtered_groups.each do |study_group|%>
<p><%= link_to study_group.name, study_group %></p>
<p><%= study_group.date.strftime("%A, %d/%m/%Y") %></p>
<p>FlatIron Class: <%= study_group.location.name %></p>
<p>Places Available: <%= study_group.num_places_left %></p>
<br>
<% end %><br>
