<p><%= @study_group.name %></p>
<p><%= @study_group.date %></p>
<p><%= @study_group.location.name %></p>
<p><%= @study_group.location.address %></p>
<p><%= @study_group.description %></p>
<p><%= @study_group.duration %></p>
<p><%= @study_group.num_participants %></p>
<ul><% @study_group.participants.each do |participant| %>
    <li><%= participant.user.name%></li>
<%end%>
</ul>

<%= link_to 'join', join_study_group_path(@study_group) %>