<h1><%= @study_group.name %></h1>
<br>
<p><%= @study_group.date.strftime("%A, %d/%m/%Y") %> at <%= @study_group.time.strftime("%l:%M %p") %></p>
<h3><%= @study_group.location.name %></h3>
<p>Adress: <%= @study_group.location.address %>,<%= @study_group.location.city %></p>
<p>Description <%= @study_group.description %></p>
<p>Duration: <%= @study_group.duration %>h</p>
<p>Number of attendees: <%= @study_group.participants.count %></p>
<p>Number of places left: <%= @study_group.num_places_left%>
<ul>Participants:
    <% @study_group.participants.each do |participant| %>
    <li><%= participant.user.name%></li>
<%end%>
</ul>


<% if @study_group.user == current_user %>
<%= link_to "Edit", edit_study_group_path%>
<% end %>


<% if @study_group.users.include?(current_user)%>
<%= link_to 'Leave', leave_study_group_path(@study_group) %>
<% else %>
<%= link_to 'Join', join_study_group_path(@study_group) %>
<%end%>

<%= render 'comments/form'%>
<br/>
<% @comments.each do |c|%>
<p><%= c.user.name %>, said:</p>
<p><%= c.description %></p>
<% if c.user == current_user %>
<p><%= link_to "Delete", c, method: :delete %></p>
<% end%>
<% end %>
