<p><%= @study_group.name %></p>
<p><%= @study_group.date %></p>
<p><%= @study_group.location.name %></p>
<p><%= @study_group.location.address %></p>
<p><%= @study_group.description %></p>
<p><%= @study_group.duration %></p>
<p><%= @study_group.num_participants %></p>
<p>Number od attendees: <%= @study_group.participants.count %></p>
<p>Number of places left: <%= @study_group.num_places_left%>
<ul><% @study_group.participants.each do |participant| %>
    <li><%= participant.user.name%></li>
<%end%>
</ul>




<% if @study_group.users.include?(current_user)%>
<%= link_to 'Leave', leave_study_group_path(@study_group) %>
<% else %>
<%= link_to 'Join', join_study_group_path(@study_group) %>
<%end%>

