
        <%= form_for :user, url: '/users', html: {class: ""} do |f|%>
        <div class="grey-input">
            <label>Name</label><br>
            <%= f.text_field :name, class:""%><br>
            <label>Email</label><br>
            <%= f.text_field :email%><br>
            <div class="row ">
                <div class="col-sm-6">
                    <label>Password</label><br>
                    <%= f.password_field :password%><br>
                </div>
                <div class="col-sm-6">
                    <label>Confirm password</label><br>
                    <%= f.password_field :password_confirmation%><br>
                </div>
            </div>
        </div>
            <span>
                <%= f.submit class:"submit-button" %>
            </span>
    <%end%>
