
<h1>Hello <%= current_user.name%>,</h1>
<ul>
<li><%= link_to "My Study Groups", mygroups_path  %></li>
<li><%= link_to "Create Study Group", new_study_group_path%></li>
<li><%= link_to "Update Profile", edit_user_path%></li>
<li><%= link_to "Delete Profile", @user, method: :delete, data: {confirm: "Are you sure?"}%></li>
<li><%= link_to "Logout", logout_path%></li>
</ul>