<div class="container center">
    <b><h1 class="margin-top-50 bold-white">Hello <%= current_user.name%>,</h1></b>
        <div class="card-group margin-top-50">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-text text-center margin-top-10 dark_blue"><%= link_to "My Study Groups", mygroups_path, class:"dark_blue"  %></h4>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h4 class="card-text text-center margin-top-10 dark_blue"><%= link_to "Create Study Group", new_study_group_path, class:"dark_blue" %></h4>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-text text-center margin-top-10 dark_blue"><%= link_to "Update Profile", edit_user_path, class:"dark_blue" %></h4>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body"> 
                    <h4 class="card-text text-center margin-top-10 dark_blue"><%= link_to "Delete Profile", @user, method: :delete, data: {confirm: "Are you sure?"}, class:"dark_blue" %>
                </div>
            </div>
        </div>
    </div>
</div>