<!DOCTYPE html>
<html>
  <head>
    <title>StudyBuddies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'%>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Study Buddies', '/study_groups', class: 'navbar-brand'%>
  <%= link_to image_tag('study_b.png', width: '180'),'/study_groups'%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <span class="navbar-text">
      LOGIN HERE MARIOLA PLEASE!! 
    </span>
  </div>
</nav>

  <nav>
        <div class="bg-dark">
        <div>
          <% if flash[:not_authorized] %>
            <p style='color: red'>
              Session unauthorized
            </p>
          <% end %>
        </div>
        <% if current_user %>
        <div class="float-left">
          <h3 style="margin-bottom: 0;">
            <%= link_to 'Study Buddies', study_groups_path %>
          </h3>
        </div>
            <div class="float-right bold-text">
              <%= link_to 'Log out', logout_path %>
            </div>
             <div class="float-right">
              <%= link_to "Profile", current_user %>
            </div>
        <% end %>
        </div>
      </nav>
    <div class="container">
  <% if flash[:errors] %>
      <div style="color: red;">
      <% flash[:errors].each do |message| %>
          <p><%= message %></p>
      <% end %>
      </div>
      <% end %>
      <% if flash[:notice] %>
      <div style="color: green;">
          <p><%= flash[:notice] %></p>
      </div>
      <% end %>
    <div class="container"><%= yield %></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
