<!DOCTYPE html>
<html>
  <head>
    <title>StudyBuddies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
        <div class="container">
        <div>
          <% if flash[:not_authorized] %>
            <p style='color: red'>
              Session unauthorized
            </p>
          <% end %>
        </div>
        <% if current_user %>
        <div class="float-left">
          <h3 style="margin-bottom: 0;">
            <%= link_to 'Study Buddies', study_groups_path %>
          </h3>
        </div>
            <div class="float-right">
              <%= link_to 'Log out', logout_path %>
            </div>
             <div class="float-right">
              <%= link_to "Profile", current_user %>
            </div>
        <% end %>
        </div>
      </nav>
    <div class="container">
  <% if flash[:errors] %>
      <div style="color: red;">
      <% flash[:errors].each do |message| %>
          <p><%= message %></p>
      <% end %>
      </div>
      <% end %>
      <% if flash[:notice] %>
      <div style="color: green;">
          <p><%= flash[:notice] %></p>
      </div>
      <% end %>
    <%= yield %>
  </body>
</html>
