<!DOCTYPE html>
<html>
  <head>
    <title>StudyBuddies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'%>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div  class='navbar-brand'>
        <%= link_to image_tag('study_b.png', width: '180'),'/study_groups'%>
      </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
     <% if current_user %>
      <li class="nav-item active">
        <%= link_to 'Study Groups', study_groups_path , class: 'nav-link'%></span>
      </li>
      <li class="nav-item active">
        <%= link_to 'Create Group', new_study_group_path , class: 'nav-link'%></span>
      </li>
      <li class="nav-item active">
        <%= link_to 'Profile', current_user , class: 'nav-link'%></span>
      </li>
      <% end %>
    </ul>
    <% if current_user %>
    <span class="navbar-text">
    <nav class="navbar navbar-light bg-light">
      <%= link_to 'Log out', logout_path, class: "btn btn-sm btn-outline-secondary" %>
    </nav>
    </span>
    <% end %>
  </div>
</nav>

 
    <div class="container">
  <% if flash[:errors] %>
      <div style="color: red;">
      <% flash[:errors].each do |message| %>
          <p><%= message %></p>
      <% end %>
      </div>
      <% end %>
      <% if flash[:notice] %>
      <div style="color: green;">
          <p><%= flash[:notice] %></p>
      </div>
      <% end %>
    <div class="container"><%= yield %></div>
</div>
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h4> Brand Name </h4>
                </div>
                <div class="col-lg-3 col-sm-2 col-xs-3">
                    <h3> Contact </h3>
                    <ul>
                        <li><a class="email"href="#"> insert email here </a></li>
                        <br/>
                        <li> <p> address line one </p> </li>
                        <li> <p> address line two </p> </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-2 col-xs-3">
                    <ul>
                        <li> <h5> <a href="#" style="margin-top: 5em"> ABOUT US</a> <h5></li>
                        <li> <h5><a href="#"> CURRENT SERIES </a> <h5></li>
                        <li> <h5><a href="#"> THE HOUSE </a> <h5></li>
                        <li> <h5><a href="#"> LOOKING BACK </a> <h5></li>
                    </ul>
                </div>
               
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
                          
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left copyright"> Copyright © Footer 2014. All right reserved. </p>
       
        </div>
    </div>
    <!--/.footer-bottom--> 

</footer>
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
