<!DOCTYPE html>
<html>
  <head>
    <title>StudyBuddies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'%>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <% if logged_in? %>
      <div  class='navbar-brand'>
        <%= link_to image_tag('study_b.png', width: '180'),'/study_groups'%>
      </div>
    <% else %>
      <div  class='navbar-brand'>
        <%= link_to image_tag('study_b.png', width: '180'),'/'%>
      </div>
      <% end %>



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
     <% if logged_in? %>
      <li class="nav-item active">
        <%= link_to 'Study Groups', study_groups_path , class: 'nav-link'%></span>
      </li>
      <li class="nav-item active">
        <%= link_to 'Create Group', new_study_group_path , class: 'nav-link'%></span>
      </li>
      <li class="nav-item active">
        <%= link_to 'Profile', current_user , class: 'nav-link'%></span>
      </li>
      <% end %>
    </ul>
    <% if logged_in? %>
    <span class="navbar-text">
    <nav class="navbar navbar-light bg-light">
      <%= link_to 'Log out', logout_path, class: "btn btn-sm btn-outline-secondary" %>
    </nav>
    </span>
    <% end %>
  </div>
</nav>

    <div class="container"><%= yield %></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  </body>
</html>
